<div class="banner position-relative" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://spaces.whynow.co.uk/2022/12/gettyimages-1414039726.jpg); top: 80px;">
  <div class="container text-center">
    <h1 class="fs-1 pb-3">Save your favourite movies!</h1>
  </div>
</div>

<div class="container position-relative w-75 my-5 pb-5" style="top: 80px;">
  <h1 class="mb-4">My Lists</h1>

  <% if notice %>
    <div class="alert alert-success d-flex justify-content-between align-items-center">
      <%= notice %>
      <a class="link-secondary cursor-pointer" data-dismiss="notice" onclick="this.parentElement.classList.add('d-none');">
        <i class="fa-sharp fa-solid fa-xmark"></i>
      </a>
    </div>
  <% end %>

  <div class="cards">
    <% @lists.each do |list| %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= list.photo.attached? ? (cl_image_path list.photo.key, height: 300, crop: :fill) : (list.image_url) %>')">
        <%= link_to list.name, list_path(list), class: 'text-decoration-none text-white' %>
      </div>
    <% end %>
  </div>
</div>
