<div class="alert alert-success d-flex justify-content-between align-items-center">
  <%= notice %>
  <a class="link-secondary cursor-pointer" data-dismiss="notice" onclick="this.parentElement.classList.add('d-none');">
    <i class="fa-sharp fa-solid fa-xmark"></i>
  </a>
</div>