<div class="banner position-relative" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= banner_image_path %>'); top: 70px;">
  <div class="container text-center">
    <h1 class="fs-1 pb-3"><%= banner_text %></h1>
  </div>
</div>