<div class="navbar navbar-expand-sm navbar-light navbar-lewagon fixed-top" style="height: 80px;" data-controller="navbar" data-action="scroll@window->navbar#updateNavbarBackground">
  <div class="w-100 px-4 d-flex justify-content-between align-items-center">
    <%= link_to 'Film Redux', lists_path, class: 'navbar-logo', data: { navbar_target: 'logo' } %>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto gap-3">
          <li class="nav-item">
            <%= link_to (('<i class="fa-solid fa-plus"></i> New List').html_safe), new_list_path, class: 'btn btn-outline-light px-3 rounded-4', data: { navbar_target: 'newList' } %>
          </li>
      </ul>
    </div>
  </div>
</div>
