.footer {
  position: absolute;
  bottom: 0;
  background: $black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  width: 100%;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}

.footer-logo {
  color: white;
  font-family: $logo-font;
  font-size: 2rem;
  user-select: none;
  opacity: 0.3;
  transition: opacity ease 0.5s;
}

.footer:hover .footer-logo {
  opacity: 1;
}

.footer-links {
  display: flex;
  align-items: center;
}

.footer-links a {
  display: inline-block;
  color: white;
  opacity: 0.3;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
  transform: translateY(0);
  transition: opacity ease 0.5s, transform ease 0.5s;
}

.footer-links a:hover {
  opacity: 1;
  transform: translateY(-5px);
}
