.navbar-lewagon {
  justify-content: space-between;
  background-color: $black;
  box-shadow: 0 5px 20px 3px $black;
  transition: background-color ease 0.5s, box-shadow ease 0.5s;
}

.navbar-lewagon-white {
  background-color: $light;
  box-shadow: 0 5px 20px 3px $light;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-logo {
  color: white;
  font-family: $logo-font;
  font-size: 2.8rem;
  text-decoration: none;
  transition: color ease 0.5s;
}

.navbar-logo:hover {
  color: white;
}

.navbar-logo-black {
  color: $black;
}

.navbar-logo-black:hover {
  color: $black;
}
